In [1]:
import pandas as pd

In [2]:
df_clientes = pd.read_csv("../data/clean/clientes_limpios.csv")

In [3]:
df_productos = pd.read_csv("../data/clean/productos_limpios.csv")

In [15]:
df_ventas = pd.read_csv("../data/clean/ventas_limpios.csv")

In [16]:
df_detalle_ventas = pd.read_csv("../data/clean/detalle_ventas_limpios.csv")

In [17]:
print("CLIENTES")
display(df_clientes.head())

print("PRODUCTOS")
display(df_productos.head())

print("VENTAS")
display(df_ventas.head())

print("DETALLE VENTAS")
display(df_detalle_ventas.head())

CLIENTES

,id_cliente,nombre_cliente,email,ciudad,fecha_alta
0,1,Mariana Lopez,mariana.lopez@mail.com,Carlos Paz,2023-01-01
1,2,Nicolas Rojas,nicolas.rojas@mail.com,Carlos Paz,2023-01-02
2,3,Hernan Martinez,hernan.martinez@mail.com,Rio Cuarto,2023-01-03
3,4,Uma Martinez,uma.martinez@mail.com,Carlos Paz,2023-01-04
4,5,Agustina Flores,agustina.flores@mail.com,Cordoba,2023-01-05

PRODUCTOS

   id_producto     nombre_producto  categoria  precio_unitario
0            1      Coca Cola 1.5L  Alimentos             2347
1            2          Pepsi 1.5L   Limpieza             4973
2            3         Sprite 1.5L  Alimentos             4964
3            4  Fanta Naranja 1.5L   Limpieza             2033
4            5  Agua Mineral 500ml  Alimentos             4777

VENTAS

,id_venta,fecha,id_cliente,nombre_cliente,email,medio_pago
0,1,2024-06-19,62,Guadalupe Romero,guadalupe.romero@mail.com,tarjeta
1,2,2024-03-17,49,Olivia Gomez,olivia.gomez@mail.com,qr
2,3,2024-01-13,20,Tomas Acosta,tomas.acosta@mail.com,tarjeta
3,4,2024-02-27,36,Martina Molina,martina.molina@mail.com,transferencia
4,5,2024-06-11,56,Bruno Diaz,bruno.diaz@mail.com,tarjeta

DETALLE VENTAS

,id_venta,id_producto,nombre_producto,cantidad,precio_unitario,importe
0,1,90,Toallas Húmedas x50,1,2902,2902
1,2,82,Aceitunas Negras 200g,5,2394,11970
2,2,39,Helado Vainilla 1L,5,469,2345
3,2,70,Fernet 750ml,2,4061,8122
4,2,22,Medialunas de Manteca,1,2069,2069

In [18]:
df_vc = df_ventas.merge(df_clientes, on="id_cliente", how="left")
df_vc.head()

,id_venta,fecha,id_cliente,nombre_cliente_x,email_x,medio_pago,nombre_cliente_y,email_y,ciudad,fecha_alta
0,1,2024-06-19,62,Guadalupe Romero,guadalupe.romero@mail.com,tarjeta,Guadalupe Romero,guadalupe.romero@mail.com,Carlos Paz,2023-03-03
1,2,2024-03-17,49,Olivia Gomez,olivia.gomez@mail.com,qr,Olivia Gomez,olivia.gomez@mail.com,Rio Cuarto,2023-02-18
2,3,2024-01-13,20,Tomas Acosta,tomas.acosta@mail.com,tarjeta,Tomas Acosta,tomas.acosta@mail.com,Rio Cuarto,2023-01-20
3,4,2024-02-27,36,Martina Molina,martina.molina@mail.com,transferencia,Martina Molina,martina.molina@mail.com,Mendiolaza,2023-02-05
4,5,2024-06-11,56,Bruno Diaz,bruno.diaz@mail.com,tarjeta,Bruno Diaz,bruno.diaz@mail.com,Rio Cuarto,2023-02-25

In [19]:
df_vcd = df_vc.merge(df_detalle_ventas, on="id_venta", how="left")
df_vcd.head()

,id_venta,fecha,id_cliente,nombre_cliente_x,email_x,medio_pago,nombre_cliente_y,email_y,ciudad,fecha_alta,id_producto,nombre_producto,cantidad,precio_unitario,importe
0,1,2024-06-19,62,Guadalupe Romero,guadalupe.romero@mail.com,tarjeta,Guadalupe Romero,guadalupe.romero@mail.com,Carlos Paz,2023-03-03,90,Toallas Húmedas x50,1,2902,2902
1,2,2024-03-17,49,Olivia Gomez,olivia.gomez@mail.com,qr,Olivia Gomez,olivia.gomez@mail.com,Rio Cuarto,2023-02-18,82,Aceitunas Negras 200g,5,2394,11970
2,2,2024-03-17,49,Olivia Gomez,olivia.gomez@mail.com,qr,Olivia Gomez,olivia.gomez@mail.com,Rio Cuarto,2023-02-18,39,Helado Vainilla 1L,5,469,2345
3,2,2024-03-17,49,Olivia Gomez,olivia.gomez@mail.com,qr,Olivia Gomez,olivia.gomez@mail.com,Rio Cuarto,2023-02-18,70,Fernet 750ml,2,4061,8122
4,2,2024-03-17,49,Olivia Gomez,olivia.gomez@mail.com,qr,Olivia Gomez,olivia.gomez@mail.com,Rio Cuarto,2023-02-18,22,Medialunas de Manteca,1,2069,2069

In [20]:
df_final = df_vcd.merge(df_productos, on="id_producto", how="left")
df_final.head()

,id_venta,fecha,id_cliente,nombre_cliente_x,email_x,medio_pago,nombre_cliente_y,email_y,ciudad,fecha_alta,id_producto,nombre_producto_x,cantidad,precio_unitario_x,importe,nombre_producto_y,categoria,precio_unitario_y
0,1,2024-06-19,62,Guadalupe Romero,guadalupe.romero@mail.com,tarjeta,Guadalupe Romero,guadalupe.romero@mail.com,Carlos Paz,2023-03-03,90,Toallas Húmedas x50,1,2902,2902,Toallas Húmedas x50,Limpieza,2902
1,2,2024-03-17,49,Olivia Gomez,olivia.gomez@mail.com,qr,Olivia Gomez,olivia.gomez@mail.com,Rio Cuarto,2023-02-18,82,Aceitunas Negras 200g,5,2394,11970,Aceitunas Negras 200g,Limpieza,2394
2,2,2024-03-17,49,Olivia Gomez,olivia.gomez@mail.com,qr,Olivia Gomez,olivia.gomez@mail.com,Rio Cuarto,2023-02-18,39,Helado Vainilla 1L,5,469,2345,Helado Vainilla 1L,Alimentos,469
3,2,2024-03-17,49,Olivia Gomez,olivia.gomez@mail.com,qr,Olivia Gomez,olivia.gomez@mail.com,Rio Cuarto,2023-02-18,70,Fernet 750ml,2,4061,8122,Fernet 750ml,Limpieza,4061
4,2,2024-03-17,49,Olivia Gomez,olivia.gomez@mail.com,qr,Olivia Gomez,olivia.gomez@mail.com,Rio Cuarto,2023-02-18,22,Medialunas de Manteca,1,2069,2069,Medialunas de Manteca,Limpieza,2069

In [21]:
df_final.columns

Index(['id_venta', 'fecha', 'id_cliente', 'nombre_cliente_x', 'email_x',
       'medio_pago', 'nombre_cliente_y', 'email_y', 'ciudad', 'fecha_alta',
       'id_producto', 'nombre_producto_x', 'cantidad', 'precio_unitario_x',
       'importe', 'nombre_producto_y', 'categoria', 'precio_unitario_y'],
      dtype='object')

In [22]:
df_unificado = df_final[[
    'id_venta',
    'fecha',
    'id_cliente',
    'nombre_cliente_y',
    'email_y',
    'ciudad',
    'fecha_alta',
    'medio_pago',
    'id_producto',
    'nombre_producto_y',
    'categoria',
    'cantidad',
    'precio_unitario_y',
    'importe'
]]

In [23]:
df_unificado = df_unificado.rename(columns={
    'nombre_cliente_y': 'nombre_cliente',
    'email_y': 'email',
    'nombre_producto_y': 'nombre_producto',
    'precio_unitario_y': 'precio_unitario'
})

In [24]:
df_unificado.head()
df_unificado.columns

Index(['id_venta', 'fecha', 'id_cliente', 'nombre_cliente', 'email', 'ciudad',
       'fecha_alta', 'medio_pago', 'id_producto', 'nombre_producto',
       'categoria', 'cantidad', 'precio_unitario', 'importe'],
      dtype='object')

In [25]:
df_unificado.isna().sum()

id_venta           0
fecha              0
id_cliente         0
nombre_cliente     0
email              0
ciudad             0
fecha_alta         0
medio_pago         0
id_producto        0
nombre_producto    0
categoria          0
cantidad           0
precio_unitario    0
importe            0
dtype: int64

In [26]:
df_unificado.describe()

,id_venta,id_cliente,id_producto,cantidad,precio_unitario,importe
count,343.000000,343.000000,343.000000,343.000000,343.000000,343.000000
mean,61.492711,45.539359,49.139942,2.962099,2654.495627,7730.078717
std,34.835525,28.436922,29.135461,1.366375,1308.694720,5265.543077
min,1.000000,1.000000,1.000000,1.000000,272.000000,272.000000
25%,31.000000,20.000000,23.000000,2.000000,1618.500000,3489.000000
50%,61.000000,43.000000,47.000000,3.000000,2512.000000,6702.000000
75%,93.000000,67.000000,76.000000,4.000000,3876.000000,10231.500000
max,120.000000,100.000000,100.000000,5.000000,4982.000000,24865.000000

In [27]:
df_unificado['categoria'].value_counts()

categoria
Limpieza     178
Alimentos    165
Name: count, dtype: int64

In [28]:
df_unificado[['nombre_producto', 'categoria']].drop_duplicates().sort_values('nombre_producto')

            nombre_producto  categoria
157    Aceite de Girasol 1L  Alimentos
1     Aceitunas Negras 200g   Limpieza
34    Aceitunas Verdes 200g  Alimentos
106      Agua Mineral 500ml  Alimentos
74           Alfajor Simple  Alimentos
..                      ...        ...
77              Vodka 700ml  Alimentos
44             Whisky 750ml   Limpieza
95   Yerba Mate Intensa 1kg   Limpieza
6      Yerba Mate Suave 1kg  Alimentos
185      Yogur Natural 200g   Limpieza

[95 rows x 2 columns]

In [31]:
df_unificado[df_unificado['categoria'] == 'Limpieza']['nombre_producto'].unique()

array(['Toallas Húmedas x50', 'Aceitunas Negras 200g', 'Fernet 750ml',
       'Medialunas de Manteca', 'Pepsi 1.5L', 'Fanta Naranja 1.5L',
       'Jugo en Polvo Limón', 'Queso Rallado 150g', 'Vino Blanco 750ml',
       'Dulce de Leche 400g', 'Trapo de Piso', 'Stevia 100 sobres',
       'Papas Fritas Clásicas 100g', 'Ron 700ml', 'Azúcar 1kg',
       'Papel Higiénico x4', 'Mermelada de Frutilla 400g',
       'Lentejas Secas 500g', 'Whisky 750ml', 'Galletitas Chocolate',
       'Desengrasante 500ml', 'Chocolate Amargo 100g',
       'Pizza Congelada Muzzarella', 'Avena Instantánea 250g',
       'Helado Chocolate 1L', 'Verduras Congeladas Mix',
       'Caramelos Masticables', 'Cerveza Negra 1L', 'Crema Dental 90g',
       'Queso Azul 150g', 'Yerba Mate Intensa 1kg',
       'Helado de Frutilla 1L', 'Caldo Concentrado Carne',
       'Porotos Negros 500g', 'Leche Entera 1L', 'Arroz Largo Fino 1kg',
       'Té Negro 20 saquitos', 'Detergente Líquido 750ml',
       'Jugo de Naranja 1L', 'Jabón de Tocador', 'Turrón 50g',
       'Energética Nitro 500ml', 'Yogur Natural 200g', 'Hilo Dental',
       'Maní Salado 200g', 'Alfajor Triple', 'Pan Lactal Blanco',
       'Vinagre de Alcohol 500ml'], dtype=object)

In [38]:
df_unificado[df_unificado['categoria'] == 'Alimentos']['nombre_producto'].unique()

array([], dtype=object)

In [39]:
# código para cargar las correcciones

from collections import OrderedDict

correccion_categoria = OrderedDict({
    'lavandina': 'limpieza',
    'trapo': 'limpieza',
    'limpiavidrios': 'limpieza',
    'desengrasante': 'limpieza',
    'detergente': 'limpieza',
    'jabón': 'limpieza',
    'papel higiénico': 'limpieza',
    'toalla': 'limpieza',
    'hilo dental': 'limpieza',
    'cepillo': 'limpieza',
    'crema dental': 'limpieza',
    'desodorante': 'limpieza',
    'shampoo': 'limpieza',
    'mascarilla': 'limpieza',
    'servilleta': 'limpieza',
})

def corregir_categoria(nombre_producto):
    nombre = nombre_producto.lower()
    
    for clave, categoria in correccion_categoria.items():
        if clave in nombre:
            return categoria
    
    return 'alimentos'

# Aplicar la función
df_unificado['categoria'] = df_unificado['nombre_producto'].apply(corregir_categoria)

# Ver resultados
print(df_unificado['categoria'].value_counts())

# Opcional: Ver listas de productos
for categoria, grupo in df_unificado.groupby('categoria'):
    print(f"\n{categoria.capitalize()}:")
    for producto in sorted(grupo['nombre_producto'].unique()):
        print(f"- {producto}")

categoria
alimentos    286
limpieza      57
Name: count, dtype: int64

Alimentos:
- Aceite de Girasol 1L
- Aceitunas Negras 200g
- Aceitunas Verdes 200g
- Agua Mineral 500ml
- Alfajor Simple
- Alfajor Triple
- Arroz Largo Fino 1kg
- Avena Instantánea 250g
- Azúcar 1kg
- Barrita de Cereal 30g
- Bizcochos Salados
- Café Molido 250g
- Caldo Concentrado Carne
- Caldo Concentrado Verdura
- Caramelos Masticables
- Cerveza Negra 1L
- Cerveza Rubia 1L
- Chicle Menta
- Chocolate Amargo 100g
- Chocolate con Leche 100g
- Coca Cola 1.5L
- Dulce de Leche 400g
- Empanadas Congeladas
- Energética Nitro 500ml
- Fanta Naranja 1.5L
- Fernet 750ml
- Fideos Spaghetti 500g
- Galletitas Chocolate
- Galletitas Vainilla
- Garbanzos 500g
- Gin 700ml
- Granola 250g
- Hamburguesas Congeladas x4
- Harina de Trigo 1kg
- Helado Chocolate 1L
- Helado Vainilla 1L
- Helado de Frutilla 1L
- Jugo de Manzana 1L
- Jugo de Naranja 1L
- Jugo en Polvo Limón
- Jugo en Polvo Naranja
- Leche Descremada 1L
- Leche Entera 1L
- Lentejas Secas 500g
- Manteca 200g
- Maní Salado 200g
- Medialunas de Manteca
- Mermelada de Durazno 400g
- Mermelada de Frutilla 400g
- Miel Pura 250g
- Mix de Frutos Secos 200g
- Pan Lactal Blanco
- Pan Lactal Integral
- Papas Fritas Clásicas 100g
- Papas Fritas Onduladas 100g
- Pepsi 1.5L
- Pizza Congelada Muzzarella
- Porotos Negros 500g
- Queso Azul 150g
- Queso Cremoso 500g
- Queso Rallado 150g
- Queso Untable 190g
- Ron 700ml
- Sal Fina 500g
- Salsa de Tomate 500g
- Sopa Instantánea Pollo
- Sprite 1.5L
- Stevia 100 sobres
- Turrón 50g
- Té Negro 20 saquitos
- Té Verde 20 saquitos
- Verduras Congeladas Mix
- Vinagre de Alcohol 500ml
- Vino Blanco 750ml
- Vino Tinto Malbec 750ml
- Vodka 700ml
- Whisky 750ml
- Yerba Mate Intensa 1kg
- Yerba Mate Suave 1kg
- Yogur Natural 200g

Limpieza:
- Cepillo de Dientes
- Crema Dental 90g
- Desengrasante 500ml
- Desodorante Aerosol
- Detergente Líquido 750ml
- Hilo Dental
- Jabón de Tocador
- Lavandina 1L
- Limpiavidrios 500ml
- Mascarilla Capilar
- Papel Higiénico x4
- Servilletas x100
- Shampoo 400ml
- Toallas Húmedas x50
- Trapo de Piso

In [40]:
# Ver total de filas en df_unificado
print(f"Total de filas en df_unificado: {len(df_unificado)}")

# Ver productos únicos por categoría
print("Productos únicos en alimentos:", len(df_unificado[df_unificado['categoria'] == 'alimentos']['nombre_producto'].unique()))
print("Productos únicos en limpieza:", len(df_unificado[df_unificado['categoria'] == 'limpieza']['nombre_producto'].unique()))

# Si quieres eliminar duplicados basados en 'nombre_producto' (manteniendo la primera ocurrencia)
df_sin_duplicados = df_unificado.drop_duplicates(subset=['nombre_producto'])
print(f"Después de eliminar duplicados: {len(df_sin_duplicados)} filas")
print(df_sin_duplicados['categoria'].value_counts())

Total de filas en df_unificado: 343
Productos únicos en alimentos: 80
Productos únicos en limpieza: 15
Después de eliminar duplicados: 95 filas
categoria
alimentos    80
limpieza     15
Name: count, dtype: int64

In [43]:
import os
os.chdir('../')  # Sube un nivel al directorio padre
print("Nuevo directorio actual:", os.getcwd())
print("Contenido del directorio:", os.listdir('.'))

Nuevo directorio actual: c:\Users\Yo\OneDrive\Desktop\IA\ProyectoAurelion_EricaAlmiron
Contenido del directorio: ['Data', 'Graficos', 'Hallazgos', 'Notebooks', 'Proyecto_Aurelion.md', 'Script']

In [44]:
import os
os.makedirs('./data/clean', exist_ok=True)
print("Carpeta 'data/clean' creada o verificada.")

Carpeta 'data/clean' creada o verificada.

In [45]:
# Guardar df_unificado como CSV
df_unificado.to_csv('./data/clean/datos_unificados_limpios.csv', index=False)
print("DataFrame guardado en './data/clean/datos_unificados_limpios.csv'")

DataFrame guardado en './data/clean/datos_unificados_limpios.csv'

In [47]:
print("Archivos en data/clean:", os.listdir('./data/clean'))

Archivos en data/clean: ['clientes_limpios.csv', 'datos_unificados_limpios.csv', 'detalle_ventas_limpios.csv', 'productos_limpios.csv', 'ventas_limpios.csv']