In [1]:
import pandas as pd

In [2]:
# Cargamos las ventas
df_ventas = pd.read_excel(r"C:\Users\Yo\OneDrive\Desktop\IA\ProyectoAurelion_EricaAlmiron\datos_originalesAurelion\ventas.xlsx")

In [3]:
# Mostrar las primeras 10 filas del DataFrame
df_ventas.head(10)

,id_venta,fecha,id_cliente,nombre_cliente,email,medio_pago
0,1,2024-06-19,62,Guadalupe Romero,guadalupe.romero@mail.com,tarjeta
1,2,2024-03-17,49,Olivia Gomez,olivia.gomez@mail.com,qr
2,3,2024-01-13,20,Tomas Acosta,tomas.acosta@mail.com,tarjeta
3,4,2024-02-27,36,Martina Molina,martina.molina@mail.com,transferencia
4,5,2024-06-11,56,Bruno Diaz,bruno.diaz@mail.com,tarjeta
5,6,2024-05-05,91,Uma Sanchez,uma.sanchez@mail.com,transferencia
6,7,2024-05-06,92,Mariana Rodriguez,mariana.rodriguez@mail.com,efectivo
7,8,2024-01-06,66,Tomas Herrera,tomas.herrera@mail.com,transferencia
8,9,2024-01-20,86,Diego Torres,diego.torres@mail.com,efectivo
9,10,2024-05-28,52,Diego Diaz,diego.diaz@mail.com,qr

In [4]:
# üîç Informaci√≥n general del DataFrame 
#    Paso 1: Inspecci√≥n inicial de los datos
df_ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_venta        120 non-null    int64
 1   fecha           120 non-null    datetime64[ns]
 2   id_cliente      120 non-null    int64
 3   nombre_cliente  120 non-null    object
 4   email           120 non-null    object
 5   medio_pago      120 non-null    object
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 5.8+ KB

In [5]:
# üìä Estad√≠sticas descriptivas de las columnas
df_ventas.describe(include='all')

,id_venta,fecha,id_cliente,nombre_cliente,email,medio_pago
count,120.000000,120,120.000000,120,120,120
unique,NaN,NaN,NaN,64,67,4
top,NaN,NaN,NaN,Bruno Diaz,bruno.diaz@mail.com,efectivo
freq,NaN,NaN,NaN,5,5,37
mean,60.500000,2024-03-29 17:36:00,47.291667,NaN,NaN,NaN
min,1.000000,2024-01-02 00:00:00,1.000000,NaN,NaN,NaN
25%,30.750000,2024-02-11 06:00:00,24.500000,NaN,NaN,NaN
50%,60.500000,2024-03-25 00:00:00,48.500000,NaN,NaN,NaN
75%,90.250000,2024-05-19 06:00:00,67.500000,NaN,NaN,NaN
max,120.000000,2024-06-28 00:00:00,100.000000,NaN,NaN,NaN
std,34.785054,NaN,27.854181,NaN,NaN,NaN

In [6]:
#duplicados en todo el DataFrame
df_ventas.duplicated().sum()

np.int64(0)

In [7]:
#duplicados en `id_venta`
df_ventas['id_venta'].duplicated().sum()

np.int64(0)

In [8]:
#Buscar valores nulos
df_ventas.isnull().sum()

id_venta          0
fecha             0
id_cliente        0
nombre_cliente    0
email             0
medio_pago        0
dtype: int64

In [9]:
# ver filas duplicadas exactas
duplicados_exactos = df_ventas[df_ventas.duplicated(keep=False)]
duplicados_exactos.shape

(0, 6)

In [10]:
#Revisar tipos de datos (dtypes)
df_ventas.dtypes

id_venta                   int64
fecha             datetime64[ns]
id_cliente                 int64
nombre_cliente            object
email                     object
medio_pago                object
dtype: object

In [11]:
#total filas
df_ventas.shape[0]

120

In [12]:
#total columnas
df_ventas.shape[1]

6

In [16]:

# 6Ô∏è‚É£ Guardar el archivo limpio
df_ventas.to_csv('ventas_limpios.csv', index=False, encoding='utf-8')
print("‚úÖ Archivo limpio exportado correctamente: ventas_limpios.csv")

‚úÖ Archivo limpio exportado correctamente: ventas_limpios.csv