In [1]:
import pandas as pd

In [2]:
df_detalle_ventas = pd.read_excel(r"C:\Users\Yo\OneDrive\Desktop\IA\ProyectoAurelion_EricaAlmiron\datos_originalesAurelion\detalle_ventas.xlsx")
df_detalle_ventas.head()

,id_venta,id_producto,nombre_producto,cantidad,precio_unitario,importe
0,1,90,Toallas H√∫medas x50,1,2902,2902
1,2,82,Aceitunas Negras 200g,5,2394,11970
2,2,39,Helado Vainilla 1L,5,469,2345
3,2,70,Fernet 750ml,2,4061,8122
4,2,22,Medialunas de Manteca,1,2069,2069

In [3]:
# üîç Informaci√≥n general del DataFrame 
#    Paso 1: Inspecci√≥n inicial de los datos
df_detalle_ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 343 entries, 0 to 342
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_venta         343 non-null    int64
 1   id_producto      343 non-null    int64
 2   nombre_producto  343 non-null    object
 3   cantidad         343 non-null    int64
 4   precio_unitario  343 non-null    int64
 5   importe          343 non-null    int64
dtypes: int64(5), object(1)
memory usage: 16.2+ KB

In [4]:
# üìä Estad√≠sticas descriptivas de las columnas
df_detalle_ventas.describe(include='all')

,id_venta,id_producto,nombre_producto,cantidad,precio_unitario,importe
count,343.000000,343.000000,343,343.000000,343.000000,343.000000
unique,NaN,NaN,95,NaN,NaN,NaN
top,NaN,NaN,Queso Rallado 150g,NaN,NaN,NaN
freq,NaN,NaN,9,NaN,NaN,NaN
mean,61.492711,49.139942,NaN,2.962099,2654.495627,7730.078717
std,34.835525,29.135461,NaN,1.366375,1308.694720,5265.543077
min,1.000000,1.000000,NaN,1.000000,272.000000,272.000000
25%,31.000000,23.000000,NaN,2.000000,1618.500000,3489.000000
50%,61.000000,47.000000,NaN,3.000000,2512.000000,6702.000000
75%,93.000000,76.000000,NaN,4.000000,3876.000000,10231.500000
max,120.000000,100.000000,NaN,5.000000,4982.000000,24865.000000

In [5]:
#cu√°ntas filas completas est√°n repetidas.
df_detalle_ventas.duplicated().sum()

np.int64(0)

In [6]:
#revisar solo un campo clave (por ejemplo email
df_detalle_ventas['id_venta'].duplicated().sum()

np.int64(223)

In [7]:
#Buscar valores nulos
df_detalle_ventas.isnull().sum()

id_venta           0
id_producto        0
nombre_producto    0
cantidad           0
precio_unitario    0
importe            0
dtype: int64

In [8]:
#Revisar tipos de datos (dtypes)
df_detalle_ventas.dtypes

id_venta            int64
id_producto         int64
nombre_producto    object
cantidad            int64
precio_unitario     int64
importe             int64
dtype: object

In [9]:
#validaci√≥n de consistencia.  -- ¬øHay ventas con monto negativo o cero?--¬øHay fechas futuras o anteriores a la fecha m√≠nima esperada?
df_detalle_ventas[df_detalle_ventas['precio_unitario'] <= 0]

Empty DataFrame
Columns: [id_venta, id_producto, nombre_producto, cantidad, precio_unitario, importe]
Index: []

In [10]:
#validaci√≥n de consistencia.  -- ¬øHay ventas con monto negativo o cero?--¬øHay fechas futuras o anteriores a la fecha m√≠nima esperada?
df_detalle_ventas[df_detalle_ventas['importe'] <= 0]

Empty DataFrame
Columns: [id_venta, id_producto, nombre_producto, cantidad, precio_unitario, importe]
Index: []

In [11]:
#validaci√≥n de consistencia.  -- ¬øHay ventas con monto negativo o cero?--¬øHay fechas futuras o anteriores a la fecha m√≠nima esperada?
df_detalle_ventas[df_detalle_ventas['cantidad'] <= 0]

Empty DataFrame
Columns: [id_venta, id_producto, nombre_producto, cantidad, precio_unitario, importe]
Index: []

In [12]:
df_detalle_ventas.shape[0]

343

In [13]:
df_detalle_ventas.shape[1]

6

In [14]:
df_detalle_ventas[df_detalle_ventas['importe'] <= 0].head(10)

Empty DataFrame
Columns: [id_venta, id_producto, nombre_producto, cantidad, precio_unitario, importe]
Index: []

In [ ]:
df_detalle_ventas.to_csv('detalle_ventas_limpios.csv', index=False)

In [16]:
# 6Ô∏è‚É£ Guardar el archivo limpio
df_detalle_ventas.to_csv('detalle_ventas_limpios.csv', index=False, encoding='utf-8')
print("‚úÖ Archivo limpio exportado correctamente: detalle_ventas_limpios.csv")

‚úÖ Archivo limpio exportado correctamente: detalle_ventas_limpios.csv