In [1]:
import os
import pandas as pd

# Nos movemos a la carpeta donde est√°n los archivos Excel
os.chdir(r'C:\Users\Yo\OneDrive\Desktop\IA\ProyectoAurelion_EricaAlmiron')

In [8]:
# Cargamos los clientes
df_clientes = pd.read_excel(r"C:\Users\Yo\OneDrive\Desktop\IA\ProyectoAurelion_EricaAlmiron\datos_originalesAurelion\clientes.xlsx")
df_clientes.head()

,id_cliente,nombre_cliente,email,ciudad,fecha_alta
0,1,Mariana Lopez,mariana.lopez@mail.com,Carlos Paz,2023-01-01
1,2,Nicolas Rojas,nicolas.rojas@mail.com,Carlos Paz,2023-01-02
2,3,Hernan Martinez,hernan.martinez@mail.com,Rio Cuarto,2023-01-03
3,4,Uma Martinez,uma.martinez@mail.com,Carlos Paz,2023-01-04
4,5,Agustina Flores,agustina.flores@mail.com,Cordoba,2023-01-05

In [9]:
# üîç Informaci√≥n general del DataFrame 
#    Paso 1: Inspecci√≥n inicial de los datos
df_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_cliente      100 non-null    int64
 1   nombre_cliente  100 non-null    object
 2   email           100 non-null    object
 3   ciudad          100 non-null    object
 4   fecha_alta      100 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 4.0+ KB

In [10]:
# üìä Estad√≠sticas descriptivas de las columnas
df_clientes.describe(include='all')

,id_cliente,nombre_cliente,email,ciudad,fecha_alta
count,100.000000,100,100,100,100
unique,NaN,95,100,6,NaN
top,NaN,Bruno Castro,mariana.lopez@mail.com,Rio Cuarto,NaN
freq,NaN,2,1,23,NaN
mean,50.500000,NaN,NaN,NaN,2023-02-19 12:00:00
min,1.000000,NaN,NaN,NaN,2023-01-01 00:00:00
25%,25.750000,NaN,NaN,NaN,2023-01-25 18:00:00
50%,50.500000,NaN,NaN,NaN,2023-02-19 12:00:00
75%,75.250000,NaN,NaN,NaN,2023-03-16 06:00:00
max,100.000000,NaN,NaN,NaN,2023-04-10 00:00:00
std,29.011492,NaN,NaN,NaN,NaN

In [11]:
df_clientes.duplicated().sum()

np.int64(0)

In [12]:
#revisar solo un campo clave (por ejemplo email
df_clientes['id_cliente'].duplicated().sum()

np.int64(0)

In [13]:
#Buscar valores nulos
df_clientes.isnull().sum()

id_cliente        0
nombre_cliente    0
email             0
ciudad            0
fecha_alta        0
dtype: int64

In [14]:
# ver filas duplicadas exactas
duplicados_exactos = df_clientes[df_clientes.duplicated(keep=False)]
duplicados_exactos.shape

(0, 5)

In [15]:
#Revisar tipos de datos (dtypes)
df_clientes.dtypes

id_cliente                 int64
nombre_cliente            object
email                     object
ciudad                    object
fecha_alta        datetime64[ns]
dtype: object

In [16]:
#validar fechas futuras
df_clientes[df_clientes['fecha_alta'] > '2025-10-27']  # fecha actual

Empty DataFrame
Columns: [id_cliente, nombre_cliente, email, ciudad, fecha_alta]
Index: []

In [17]:
#total filas
df_clientes.shape[0]

100

In [18]:
#total columnas
df_clientes.shape[1]

5

In [19]:
# Ver las primeras filas para confirmar que todo est√° bien
df_clientes.head()

,id_cliente,nombre_cliente,email,ciudad,fecha_alta
0,1,Mariana Lopez,mariana.lopez@mail.com,Carlos Paz,2023-01-01
1,2,Nicolas Rojas,nicolas.rojas@mail.com,Carlos Paz,2023-01-02
2,3,Hernan Martinez,hernan.martinez@mail.com,Rio Cuarto,2023-01-03
3,4,Uma Martinez,uma.martinez@mail.com,Carlos Paz,2023-01-04
4,5,Agustina Flores,agustina.flores@mail.com,Cordoba,2023-01-05

In [23]:
# 6Ô∏è‚É£ Guardar el archivo limpio
df_clientes.to_csv('clientes_limpios.csv', index=False, encoding='utf-8')
print("‚úÖ Archivo limpio exportado correctamente: clientes_limpios.csv")

‚úÖ Archivo limpio exportado correctamente: clientes_limpios.csv