In [4]:
import pandas as pd

In [5]:
# Cargamos los productos
df_productos = pd.read_excel(r"C:\Users\Yo\OneDrive\Desktop\IA\ProyectoAurelion_EricaAlmiron\datos_originalesAurelion\productos.xlsx")
df_productos.head(10)

   id_producto         nombre_producto  categoria  precio_unitario
0            1          Coca Cola 1.5L  Alimentos             2347
1            2              Pepsi 1.5L   Limpieza             4973
2            3             Sprite 1.5L  Alimentos             4964
3            4      Fanta Naranja 1.5L   Limpieza             2033
4            5      Agua Mineral 500ml  Alimentos             4777
5            6      Jugo de Naranja 1L   Limpieza             4170
6            7      Jugo de Manzana 1L  Alimentos             3269
7            8  Energ√©tica Nitro 500ml   Limpieza             4218
8            9    Yerba Mate Suave 1kg  Alimentos             3878
9           10  Yerba Mate Intensa 1kg   Limpieza             4883

In [3]:
# üîç Informaci√≥n general del DataFrame 
#    Paso 1: Inspecci√≥n inicial de los datos
df_productos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_producto      100 non-null    int64
 1   nombre_producto  100 non-null    object
 2   categoria        100 non-null    object
 3   precio_unitario  100 non-null    int64
dtypes: int64(2), object(2)
memory usage: 3.3+ KB

In [4]:
# üìä Estad√≠sticas descriptivas de las columnas
df_productos.describe(include='all')

        id_producto nombre_producto  categoria  precio_unitario
count    100.000000             100        100       100.000000
unique          NaN             100          2              NaN
top             NaN  Coca Cola 1.5L  Alimentos              NaN
freq            NaN               1         50              NaN
mean      50.500000             NaN        NaN      2718.550000
std       29.011492             NaN        NaN      1381.635324
min        1.000000             NaN        NaN       272.000000
25%       25.750000             NaN        NaN      1590.000000
50%       50.500000             NaN        NaN      2516.000000
75%       75.250000             NaN        NaN      4026.500000
max      100.000000             NaN        NaN      4982.000000

In [5]:
#duplicados en todo el DataFrame
df_productos.duplicated().sum()

np.int64(0)

In [6]:
#duplicados en `id_producto`
df_productos['id_producto'].duplicated().sum()

np.int64(0)

In [7]:
#Buscar valores nulos
df_productos.isnull().sum()

id_producto        0
nombre_producto    0
categoria          0
precio_unitario    0
dtype: int64

In [8]:
df_productos['categoria'].value_counts()

categoria
Alimentos    50
Limpieza     50
Name: count, dtype: int64

In [12]:
# ver filas duplicadas exactas
duplicados_exactos = df_productos[df_productos.duplicated(keep=False)]
duplicados_exactos.shape

(0, 4)

In [13]:
#Revisar tipos de datos (dtypes)
df_productos.dtypes

id_producto         int64
nombre_producto    object
categoria          object
precio_unitario     int64
dtype: object

In [14]:
#validar precios negativos
df_productos[df_productos['precio_unitario'] < 0]

Empty DataFrame
Columns: [id_producto, nombre_producto, categoria, precio_unitario]
Index: []

In [15]:
#total filas
df_productos.shape[0]

100

In [16]:
#total columnas
df_productos.shape[1]

4

In [7]:
# 6Ô∏è‚É£ Guardar el archivo limpio
df_productos.to_csv('productos_limpios.csv', index=False, encoding='utf-8')
print("‚úÖ Archivo limpio exportado correctamente: productos_limpios.csv")

‚úÖ Archivo limpio exportado correctamente: productos_limpios.csv